#### Import Table from Postgrseql and Convert to DF

In [1]:
from sqlalchemy import create_engine, text
import pandas as pd

# Customers df
engine = create_engine('postgresql://admin:admin@localhost:5433/postgres')
sql_customers = text('select * from customers')

with engine.connect() as con :
    customers_df = pd.read_sql(sql_customers, con)
    print(customers_df.head(5))

   cust_id             name                        email  \
0        1   Cheryl Jimenez  christinerogers@example.org
1        2      Emily Lewis         gshelton@example.net
2        3   Jennifer Poole    kristincastro@example.net
3        4     Brian Pierce     yatesrebecca@example.net
4        5  Raymond Camacho       toddharris@example.net

                                          address                 phone
0        2117 Gary Squares\nWest Joseph, PR 67562      001-379-324-2894
1        1950 Max Park\nPort Danielstad, AS 82791          543.851.0522
2           3202 Eric Bypass\nBethhaven, WA 97952       +1-410-717-7774
3   02523 Macias Loop\nPort Josephshire, VA 85527            6238128007
4  96412 Louis Dam Apt. 722\nDavidmouth, KY 27548  +1-686-703-6263x0142

In [2]:
# Products df
sql_products = text('select * from products')

with engine.connect() as con :
    products_df = pd.read_sql(sql_products, con)
    print(products_df.head(5))

   product_id product_name  price product_category
0           1        grass  56.22             seed
1           2          hay  58.57          produce
2           3         corn  55.64       implements
3           4      soybean  76.39             seed
4           5        wheat  15.69          produce

In [3]:
# Orders df
sql_orders = text('select * from orders')

with engine.connect() as con :
    orders_df = pd.read_sql(sql_orders, con)
    print(orders_df.head(5))

   order_id  cust_id  product_id  order_date  store_id  quantity
0         1      298           3  1972-11-26         2         2
1         2      207           6  1970-10-25         1         3
2         3      430           2  1970-10-15         2         2
3         4      203           3  2019-12-10         4         2
4         5      353           2  2004-11-02         4         2

#### Converts tables to .csv saves them in the data directory

In [5]:
raw_orders_file = ('data/raw/orders.csv')
raw_customers_file = ('data/raw/customers.csv')
raw_products_file = ('data/raw/products.csv')

orders_csv = orders_df.to_csv(raw_orders_file, index=False)
products_csv = products_df.to_csv(raw_products_file, index=False)
customers_csv =customers_df.to_csv(raw_customers_file, index=False)

print(f"1 Processed {len(orders_df)} rows.")
print(f"2 Processed {len(products_df)} rows.")
print(f"3 Processed {len(customers_df)} rows.")

1 Processed 1000 rows.
2 Processed 9 rows.
3 Processed 500 rows.