# In order to create the departmental DataMarts

## Accounting

In [1]:
from sqlalchemy import create_engine, text

engine = create_engine('postgresql://admin:admin@localhost:5433/postgres')

accounting_dm = """create view accounting_datamart as select
	sf.order_id,
	sf.price,
	sf.quantity,
	p.product_name,
	od.order_date,
	od.order_year,
	md.order_month_name,
	qd.order_quarter,
	sd.store_name
from sales_facts sf
join product_dim p on sf.product_id = p.product_id
join order_date_dim od on sf.order_date_id = od.order_date_id
join order_month_dim md on od.order_month_id = md.order_month_id
join order_quarter_dim qd on od.order_quarter_id = qd.order_quarter_id
join store_dim sd on sf.store_id = sd.store_id;"""

with engine.connect() as conn :
    conn.execute(text(accounting_dm))
    conn.commit()

#### Accounting Cube: What are the quarterly and annual sales by city and state?

In [6]:
accounting_cube = """create view accounting_cube as select
	coalesce(
		case store_name
			when 'chicago_store' then 'chicago'
			when 'seattle_store' then 'seattle'
			when 'nyc_store' then 'new_york_city'
			when 'tampa_store' then 'tampa'
		end, 'ALL') as city,
	coalesce(
		case store_name
			when 'chicago_store' then 'IL'
			when 'seattle_store' then 'WA'
			when 'nyc_store' then 'NY'
			when 'tampa_store' then 'FL'
		end, 'NATIONWIDE') as state,
	coalesce(order_quarter, 'ANNUAL') as quarter,
	extract(year from order_date) as year,
	sum(quantity * price) as sales
	from accounting_datamart
	group by cube(store_name, order_quarter, extract(year from order_date))
	order by city, state, quarter, year;"""

with engine.connect() as conn :
    conn.execute(text(accounting_cube))
    conn.commit()

## Marketing

In [4]:
marketing_dm = """create view marketing_datamart as select
	sf.customer_id,
	sf. quantity,
	sf, price,
	c.customer_name,
	c.customer_email,
	c.customer_phone,
	c.customer_address,
	p.product_name,
	pc.product_category,
	s.store_name,
	s.store_region
from sales_facts sf
join customer_dim c on sf.customer_id = c.customer_id
join product_dim p on sf.product_id = p.product_id
join product_category_dim pc on p.product_category = pc.product_category
join store_dim s on sf.store_id = s.store_id;"""

with engine.connect() as conn :
    conn.execute(text(marketing_dm))
    conn.commit()

#### Marketing Cube: What are the best-selling items by region?

In [5]:
marketing_cube = """create view marketing_cube as select
	coalesce(store_region, 'ALL') as region,
	coalesce(product_name, 'ALL') as product,
	sum(quantity) as units_sold
from marketing_datamart md
group by cube (store_region, product_name)
order by region, product;"""

with engine.connect() as conn :
    conn.execute(text(marketing_cube))
    conn.commit()

## Sales

In [3]:
sales_dm = """create view sales_datamart as select
	sf.order_id,
	sf.price,
	sf.quantity,
	pd.product_name,
	cd.product_category,
	od.order_date,
	od.order_year,
	om.order_month_name,
	oq.order_quarter,
	s.store_name
from sales_facts sf
join product_dim pd on sf.product_id = pd.product_id
join product_category_dim cd on cd.product_category = pd.product_category
join order_date_dim od on sf.order_date_id = od.order_date_id
join order_month_dim om on om.order_month_id = od.order_month_id
join order_quarter_dim oq on oq.order_quarter_id = od.order_quarter_id
join store_dim s on sf.store_id = s.store_id;"""

with engine.connect() as conn :
    conn.execute(text(sales_dm))
    conn.commit()

#### Sales Cube: Which products are generating the most revenue overall and by store, and which stores are generating the most revenue?

In [8]:
sales_cube = """create view sales_cube as select
	coalesce(store_name, 'ALL') as store,
	coalesce(product_name, 'ALL') as product,
	sum(quantity * price) as sales
from sales_datamart sd
group by cube (store_name, product_name)
order by store, product;"""

with engine.connect() as conn :
    conn.execute(text(sales_cube))
    conn.commit()