In [ ]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('postgresql://admin:admin@localhost:5433/postgres')
sales_cube = """select * from sales_cube sc where sc.store <> 'ALL';"""
with engine.connect() as conn :
    sales_cube_df = pd.read_sql(sales_cube, conn)
sales_cube_df

## Total Sales by Store All Time

In [ ]:
import matplotlib.pyplot as plt

x = sales_cube_df['store']
y = sales_cube_df['sales']
plt.xlabel('store')
plt.ylabel('sales')
plt.title("Total Sales by Store All Time")
plt.bar(x,y, color='red')

plt.show()

## Sales over Time

In [ ]:
regional_df = """select * from accounting_cube ac where ac.city <> 'ALL' and ac.year <> '1900';"""
with engine.connect() as conn :
    regional_df = pd.read_sql(regional_df, conn)
regional_df = regional_df.dropna()
regional_df = regional_df[regional_df['year'] >= 1970]
regional_df

In [ ]:
chicago = regional_df[regional_df['city'] == 'chicago'].sort_values(by='year')
tampa = regional_df[regional_df['city'] == 'tampa'].sort_values(by='year')

plt.xlabel('year')
plt.ylabel('sales')
plt.title('Sales in Tampa and Chicago since 1970')
plt.plot(chicago['year'], chicago['sales'], color='red')
plt.plot(tampa['year'], tampa['sales'], color='yellow')
plt.figure(figsize=(10,8))
plt.show()

## Sales Share by Region 2020-2023

In [ ]:
regional_pie = """select * from accounting_cube ac where ac.year between '2020' and '2023' and ac.city <> 'ALL' and ac.quarter = 'ANNUAL';"""
with engine.connect() as conn :
    regional_pie = pd.read_sql(regional_pie, conn)
regional_pie
# Make pie chart for shares of sales

In [ ]:
city_sales = regional_pie.groupby('city')['sales'].sum().reset_index()
city_sales

In [ ]:
plt.pie(city_sales['sales'], labels=city_sales['city'], autopct='%1.0f%%' )
plt.title('Sales Share by City: 2020=2023')
plt.show()